body {
  background: #0e0f11 no-repeat 100% 100% fixed;
	background: -webkit-linear-gradient(110deg, #000000, #1E2124) no-repeat 100% 100% fixed;
	background: linear-gradient(110deg, #000000, #1E2124) no-repeat 100% 100% fixed;
	min-width: 960px;
	min-height:100%;
}
